<div class="nav">
    <h5 class="nav-header">Shopping-cart<span><img class="bd-placeholder-img card-img-top " height="70px"width="70px"
      src="https://t4.ftcdn.net/jpg/03/43/35/09/360_F_343350922_HKl2JXHSwagbkT0okcJUVGn109yjKsjR.jpg"/></span></h5>
    <nav class="nav-elements">
      <a class="titles" href="#">Features</a>
      <a class="titles" href="#">Enterprise</a>
      <a class="titles" href="#">Support</a>
      <a class="titles" href="#">Pricing</a>
    </nav>
    <a class="sign-up" href="#">Sign up</a>
  </div>
