<div class="card">
    <img class="bd-placeholder-img card-img-top " height="200px"width="180px" border-radius="25%"
            src="https://image.shutterstock.com/image-vector/shoes-shop-logo-template-design-260nw-1680762358.jpg" />
    <!-- <div class="card-header"><strong>Filters</strong></div>
    <div class="card-body">
        <form>
            <div class="form-group" >
            <label for="from">From</label>
            <input type="number" id="from" class="form-control" name="price" >
            </div>
            <div class="form-group">
            <label for="to">To</label>
            <input type="number" id="to" class="form-control">
            </div>
            <button class="btn btn-primary btn-block">Filter by price</button>
        </form>
    </div> -->
</div>
